.sortable {
    cursor: pointer;
    transition: all .2s ease-in 0s;
}

.sortable:hover {
    opacity: 0.8;
}

.ql-container {
    height: 300px !important;
}

.img-sm{
    width: auto;
    height: 50px;
}