.sortable {
    cursor: pointer;
    transition: all 0.2s ease-in 0s;
  }
  
  .sortable:hover {
    opacity: 0.85;
  }
  
  .ql-container {
    height: 200px !important;
  }
  
  .img-sm {
    height: 100px;
    width: auto;
  }
  